<h1>{{titulo}}</h1>
<button class="btn btn-info" type="button" [routerLink]="['/pais']">Nuevo Pais</button>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor= "let pais of paises">
            <td>{{pais.nombre}}</td>
            <td><button class="btn btn-primary" type="button" [routerLink]="['/pais',pais.id]">Editar</button></td>
            <td><button class="btn btn-danger" type="button" (click)="eliminarPais(pais.id)">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>

<h1>{{titulodos}}</h1>
<button class="btn btn-info" type="button" [routerLink]="['/productos']">Nuevo Producto</button>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha embarque</th>
            <th scope="col">Fecha llegada</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Pais origen</th>
            <th scope="col">Pais destino</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor= "let producto of productos">
            <td>{{producto.code}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.fechaEmbarque}}</td>
            <td>{{producto.fechaLlegada}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.paisOrigenId.nombre}}</td>
            <td>{{producto.paisDestinoId.nombre}}</td>
            <td><button class="btn btn-primary" type="button" [routerLink]="['/productos',producto.id]">Editar</button></td>
            <td><button class="btn btn-danger" type="button" (click)="eliminarProducto(producto.id)">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>
